*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height:100%;
}
a{
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
}
#main{
    width: 100%;
    min-height: 100vh;
    background-color: #DAEEFB;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 0vw 5vw; 
}
#our{
    font-size: 2vw;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:15vh;
    width: 100%;
    height: 90vh;
    padding: 0vw 15vw;
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
}
.content h1{
    text-align: center;
}
.dots-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
    /* background-color: orangered; */
}
.dot{
    width: 0.3vw;
    height: 0.3vw;
    border-radius: 50px;
    background-color: #000;
}
.img-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: aqua;
}
.img{
    width: 25vw;
    height: 50vh;
    background-image: url(image.webp);
    background-size: cover;
    background-position: center;
}